<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
	<property name="log.pattern" value="[%d{'yyyy-MM-dd HH:mm:ss,SSS'}] [%p] [%c{0}] [%t]: %m%n" />
	<property name="log.filename" value="jlv.log" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/${log.filename}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
            	logs/${log.filename}.%d{dd-MM-yyyy}
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOGFILE" />
	</root>
</configuration>
